@import "../../styles.scss";

.card {
  width: 15.75rem;
  position: relative;
  margin: 0 1rem 3rem 0;

  .image {
    position: relative;

    img {
      width: 100%;
      height: 15.625rem;
      border-radius: 0.625rem;
    }
  }

  .control-cart {
    width: 100%;
    top: 88%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    #add-to-cart.count-mode {
      .select-item {
        display: none;
      }

      .amount {
        display: flex;
      }
    }

    .select-item {
      width: initial;
      height: initial;
      display: flex;
      padding: 0.875rem 2rem 0.875rem 2rem;
      font-family: $f-primary;
      font-weight: 500;
      border-radius: 1.875rem;
      border: 0.0625rem solid $rose-400;
      background-color: #ffff;
      cursor: pointer;

      img {
        width: inherit;
        height: inherit;
      }

      span {
        font-size: 1rem;
        margin: 0 0.3125rem;
      }

      &:hover {
        border: 0.0625rem solid $rose-500;

        span {
          color: $rose-500;
        }
      }
    }

    .amount {
      width: 11.25rem;
      display: none;
      justify-content: space-between;
      align-items: center;
      background-color: #c83d2a;
      padding: 0.875rem 2rem 0.875rem 2rem;
      border-radius: 1.875rem;

      .plus {
        background: unset;
        outline: none;
        display: flex;
        padding: .3125rem;
        border-radius: 50%;
        border-color: #fff;
        border-style: solid;

        img {
          width: .625rem;
          height: .625rem;
        }
      }

      .counter {
        font-family: $f-primary;
        font-size: 1rem;
        color: #ffff;
      }

      .minus {
        background: unset;
        outline: none;
        display: flex;
        padding: .3125rem;
        border-radius: 50%;
        border-color: #fff;
        border-style: solid;

        img {
          width: .625rem;
          height: .625rem;
        }
      }

    }
  }

  .description {
    margin-top: 2.5rem;
    font-family: $f-primary;

    .categorie {
      color: #b1b1b1;
    }

    .title {
      font-weight: 500;
      color: black;
      margin: 0.3125rem 0;
    }

    .price {
      color: $red;
      font-weight: 600;
    }
  }
}
