<div class="card">
  <div class="image">
    <img src="./assets/img/image-waffle-tablet.jpg" alt="" />
    <div class="control-cart">
      <div id="add-to-cart">
        <div class="select-item" togglecart>
          <img src="./assets/img/icon-add-to-cart.svg">
          <span>Add to cart</span>
        </div>
        <div class="amount">
          <button class="minus" (click)="decrementQuantity($event)">
            <img src="./assets/img/icon-decrement-quantity.svg">
          </button>
          <div class="counter">{{counter()}}</div>
          <button class="plus" (click)="incrementQuantity($event)">
            <img src="./assets/img/icon-increment-quantity.svg">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <p class="categorie">Waffle</p>
    <p class="title">Waffle with Berries</p>
    <p class="price">$6.50</p>
  </div>
</div>
