
<div class="cart">
  <h2>Your cart (7)</h2>
  <div class="items">
    <div class="item">
      <div class="description">
        <p class="name">Classic Tiramisu</p>
        <div class="price-info">
          <span>2x</span>
          <span>$7.00</span>
          <span>$28.00</span>
        </div>
      </div>
      <div class="close-btn">
        <img src="./assets/img/icon-remove-item.svg" alt="" srcset="" />
      </div>
    </div>
  </div>

  <div class="order">
    <p>Order total</p>
    <p class="price">$46.50</p>
  </div>

  <div class="ad">
    <img class="icon" src="./assets/img/icon-carbon-neutral.svg" alt="" srcset="">
    <p>This is a <span>carbon-neutral</span> delivery</p>
  </div>

  <button class="confirm-btn">Confirm Order</button>
</div>
