@import "../styles.scss";


.container {
    padding: 3.125rem 6.25rem 0 6.25rem;
    display: flex;
    justify-content: space-between;

    .main-side {
        width: 80%;

        h1 {
            font-family: $f-primary;
            margin: 0 0 2.1875rem 0;
            font-size: 2.5rem;
        }

        .cards {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .card:first-child {
                margin-left: 0;
            }
        }
    }


}
