/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

$red:hsl(14, 86%, 42%);
$green: hsl(159, 69%, 38%);
$rose-50: hsl(20, 50%, 98%);
$rose-100: hsl(13, 31%, 94%);
$rose-300: hsl(14, 25%, 72%);
$rose-400: hsl(7, 20%, 60%);
$rose-500: hsl(12, 20%, 44%);
$rose-900: hsl(14, 65%, 9%);
$f-primary: "Red Hat Text", sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $rose-50;
}
